<footer class="footer">
    <p>&copy; 2024 CODEVIEW. All rights reserved.</p>
    <p>Follow us on <a href="#" class="footer-link">Twitter</a>, <a href="#" class="footer-link">Facebook</a>, <a href="#" class="footer-link">Instagram</a></p>
</footer>