<nav class="navbar">
    <div class="logo">
        <img src="https://i.pinimg.com/originals/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf.jpg" alt="Logo" />
        <span class="site-name">CODEVIEW</span>
    </div>
    <ul class="nav-links">
        <li><a href="#company">Company Based</a></li>
        <li><a href="#difficulty">Difficulty Based</a></li>
        <li><a href="/topic">Topic Based</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="auth-buttons">
        <a href="/login" class="btn login">Login</a>
        <a href="/signup" class="btn signup">Sign Up</a>
    </div>
</nav>