<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Based Questions - CODEVIEW</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="topicstyles.css"> <!-- Link to your CSS file -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("navbar") %>
    <header class="header">
        <h1>TOPIC BASED QUESTIONS</h1>
        <p>Your comprehensive guide to acing interviews!</p>
    </header>

    <main>
        <div class="topic-section">
            <h2>Recursion</h2>
            <table>
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>Question</th>
                        <th>Asked</th>
                        <th>Try</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="recursion1" class="styled-checkbox"></td>
                        <td><label for="recursion1">Generate Parentheses</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/generate-parentheses/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/generate-parentheses/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion2" class="styled-checkbox"></td>
                        <td><label for="recursion2">Climbing Stairs</label></td>
                        <td>75 times</td>
                        <td><a href="https://leetcode.com/problems/climbing-stairs/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/climbing-stairs/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion3" class="styled-checkbox"></td>
                        <td><label for="recursion3">Merge Sort</label></td>
                        <td>20 times</td>
                        <td><a href="https://leetcode.com/problems/sort-an-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/sort-an-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion4" class="styled-checkbox"></td>
                        <td><label for="recursion4">Permutations</label></td>
                        <td>30 times</td>
                        <td><a href="https://leetcode.com/problems/permutations/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/permutations/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion5" class="styled-checkbox"></td>
                        <td><label for="recursion5">Combination Sum</label></td>
                        <td>40 times</td>
                        <td><a href="https://leetcode.com/problems/combination-sum/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/combination-sum/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion6" class="styled-checkbox"></td>
                        <td><label for="recursion6">Subsets</label></td>
                        <td>35 times</td>
                        <td><a href="https://leetcode.com/problems/subsets/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/subsets/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion7" class="styled-checkbox"></td>
                        <td><label for="recursion7">Letter Combinations of a Phone Number</label></td>
                        <td>45 times</td>
                        <td><a href="https://leetcode.com/problems/letter-combinations-of-a-phone-number/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/letter-combinations-of-a-phone-number/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion8" class="styled-checkbox"></td>
                        <td><label for="recursion8">N-Queens</label></td>
                        <td>60 times</td>
                        <td><a href="https://leetcode.com/problems/n-queens/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/n-queens/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion9" class="styled-checkbox"></td>
                        <td><label for="recursion9">Unique Paths</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/unique-paths/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/unique-paths/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="recursion10" class="styled-checkbox"></td>
                        <td><label for="recursion10">Factorial Trailing Zeroes</label></td>
                        <td>25 times</td>
                        <td><a href="https://leetcode.com/problems/factorial-trailing-zeroes/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/factorial-trailing-zeroes/solution/" target="_blank">View Solution</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="topic-section">
            <h2>Dynamic Programming</h2>
            <table>
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>Question</th>
                        <th>Asked</th>
                        <th>Try</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="dp1" class="styled-checkbox"></td>
                        <td><label for="dp1">Coin Change</label></td>
                        <td>80 times</td>
                        <td><a href="https://leetcode.com/problems/coin-change/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/coin-change/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp2" class="styled-checkbox"></td>
                        <td><label for="dp2">Longest Increasing Subsequence</label></td>
                        <td>60 times</td>
                        <td><a href="https://leetcode.com/problems/longest-increasing-subsequence/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/longest-increasing-subsequence/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp3" class="styled-checkbox"></td>
                        <td><label for="dp3">House Robber</label></td>
                        <td>90 times</td>
                        <td><a href="https://leetcode.com/problems/house-robber/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/house-robber/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp4" class="styled-checkbox"></td>
                        <td><label for="dp4">Edit Distance</label></td>
                        <td>65 times</td>
                        <td><a href="https://leetcode.com/problems/edit-distance/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/edit-distance/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp5" class="styled-checkbox"></td>
                        <td><label for="dp5">0/1 Knapsack Problem</label></td>
                        <td>55 times</td>
                        <td><a href="https://leetcode.com/problems/0-1-knapsack-problem/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/0-1-knapsack-problem/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp6" class="styled-checkbox"></td>
                        <td><label for="dp6">Longest Common Subsequence</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/longest-common-subsequence/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/longest-common-subsequence/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp7" class="styled-checkbox"></td>
                        <td><label for="dp7">Unique Paths II</label></td>
                        <td>30 times</td>
                        <td><a href="https://leetcode.com/problems/unique-paths-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/unique-paths-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp8" class="styled-checkbox"></td>
                        <td><label for="dp8">Best Time to Buy and Sell Stock</label></td>
                        <td>100 times</td>
                        <td><a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp9" class="styled-checkbox"></td>
                        <td><label for="dp9">Palindrome Partitioning II</label></td>
                        <td>45 times</td>
                        <td><a href="https://leetcode.com/problems/palindrome-partitioning-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/palindrome-partitioning-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="dp10" class="styled-checkbox"></td>
                        <td><label for="dp10">Word Break</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/word-break/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/word-break/solution/" target="_blank">View Solution</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="topic-section">
            <h2>Sorting Algorithms</h2>
            <table>
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>Question</th>
                        <th>Asked</th>
                        <th>Try</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="sorting1" class="styled-checkbox"></td>
                        <td><label for="sorting1">Sort an Array</label></td>
                        <td>100 times</td>
                        <td><a href="https://leetcode.com/problems/sort-an-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/sort-an-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting2" class="styled-checkbox"></td>
                        <td><label for="sorting2">Kth Largest Element in an Array</label></td>
                        <td>90 times</td>
                        <td><a href="https://leetcode.com/problems/kth-largest-element-in-an-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/kth-largest-element-in-an-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting3" class="styled-checkbox"></td>
                        <td><label for="sorting3">Merge Intervals</label></td>
                        <td>80 times</td>
                        <td><a href="https://leetcode.com/problems/merge-intervals/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/merge-intervals/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting4" class="styled-checkbox"></td>
                        <td><label for="sorting4">Meeting Rooms II</label></td>
                        <td>60 times</td>
                        <td><a href="https://leetcode.com/problems/meeting-rooms-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/meeting-rooms-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting5" class="styled-checkbox"></td>
                        <td><label for="sorting5">Sort Colors</label></td>
                        <td>55 times</td>
                        <td><a href="https://leetcode.com/problems/sort-colors/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/sort-colors/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting6" class="styled-checkbox"></td>
                        <td><label for="sorting6">Top K Frequent Elements</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/top-k-frequent-elements/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/top-k-frequent-elements/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting7" class="styled-checkbox"></td>
                        <td><label for="sorting7">Largest Number</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/largest-number/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/largest-number/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting8" class="styled-checkbox"></td>
                        <td><label for="sorting8">Array Partition I</label></td>
                        <td>45 times</td>
                        <td><a href="https://leetcode.com/problems/array-partition-i/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/array-partition-i/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting9" class="styled-checkbox"></td>
                        <td><label for="sorting9">Find K Pairs with Smallest Sums</label></td>
                        <td>40 times</td>
                        <td><a href="https://leetcode.com/problems/find-k-pairs-with-smallest-sums/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/find-k-pairs-with-smallest-sums/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="sorting10" class="styled-checkbox"></td>
                        <td><label for="sorting10">Smallest Range I</label></td>
                        <td>30 times</td>
                        <td><a href="https://leetcode.com/problems/smallest-range-i/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/smallest-range-i/solution/" target="_blank">View Solution</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="topic-section">
            <h2>Searching Algorithms</h2>
            <table>
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>Question</th>
                        <th>Asked</th>
                        <th>Try</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="searching1" class="styled-checkbox"></td>
                        <td><label for="searching1">Binary Search</label></td>
                        <td>100 times</td>
                        <td><a href="https://leetcode.com/problems/binary-search/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/binary-search/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching2" class="styled-checkbox"></td>
                        <td><label for="searching2">Search in Rotated Sorted Array</label></td>
                        <td>80 times</td>
                        <td><a href="https://leetcode.com/problems/search-in-rotated-sorted-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/search-in-rotated-sorted-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching3" class="styled-checkbox"></td>
                        <td><label for="searching3">Find First and Last Position of Element in Sorted Array</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/find-first-and-last-position-of-element-in-sorted-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/find-first-and-last-position-of-element-in-sorted-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching4" class="styled-checkbox"></td>
                        <td><label for="searching4">Minimum in Rotated Sorted Array</label></td>
                        <td>60 times</td>
                        <td><a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching5" class="styled-checkbox"></td>
                        <td><label for="searching5">Search a 2D Matrix</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/search-a-2d-matrix/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/search-a-2d-matrix/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching6" class="styled-checkbox"></td>
                        <td><label for="searching6">Median of Two Sorted Arrays</label></td>
                        <td>90 times</td>
                        <td><a href="https://leetcode.com/problems/median-of-two-sorted-arrays/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/median-of-two-sorted-arrays/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching7" class="styled-checkbox"></td>
                        <td><label for="searching7">Search Insert Position</label></td>
                        <td>40 times</td>
                        <td><a href="https://leetcode.com/problems/search-insert-position/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/search-insert-position/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching8" class="styled-checkbox"></td>
                        <td><label for="searching8">Find Peak Element</label></td>
                        <td>30 times</td>
                        <td><a href="https://leetcode.com/problems/find-peak-element/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/find-peak-element/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching9" class="styled-checkbox"></td>
                        <td><label for="searching9">First Bad Version</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/first-bad-version/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/first-bad-version/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="searching10" class="styled-checkbox"></td>
                        <td><label for="searching10">Search a 2D Matrix II</label></td>
                        <td>80 times</td>
                        <td><a href="https://leetcode.com/problems/search-a-2d-matrix-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/search-a-2d-matrix-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="topic-section">
            <h2>Graphs</h2>
            <table>
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>Question</th>
                        <th>Asked</th>
                        <th>Try</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="graph1" class="styled-checkbox"></td>
                        <td><label for="graph1">Number of Islands</label></td>
                        <td>90 times</td>
                        <td><a href="https://leetcode.com/problems/number-of-islands/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/number-of-islands/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph2" class="styled-checkbox"></td>
                        <td><label for="graph2">Course Schedule</label></td>
                        <td>80 times</td>
                        <td><a href="https://leetcode.com/problems/course-schedule/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/course-schedule/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph3" class="styled-checkbox"></td>
                        <td><label for="graph3">Clone Graph</label></td>
                        <td>60 times</td>
                        <td><a href="https://leetcode.com/problems/clone-graph/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/clone-graph/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph4" class="styled-checkbox"></td>
                        <td><label for="graph4">Valid Parentheses</label></td>
                        <td>100 times</td>
                        <td><a href="https://leetcode.com/problems/valid-parentheses/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/valid-parentheses/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph5" class="styled-checkbox"></td>
                        <td><label for="graph5">Course Schedule II</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/course-schedule-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/course-schedule-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph6" class="styled-checkbox"></td>
                        <td><label for="graph6">Pacific Atlantic Water Flow</label></td>
                        <td>40 times</td>
                        <td><a href="https://leetcode.com/problems/pacific-atlantic-water-flow/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/pacific-atlantic-water-flow/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph7" class="styled-checkbox"></td>
                        <td><label for="graph7">Path Sum II</label></td>
                        <td>45 times</td>
                        <td><a href="https://leetcode.com/problems/path-sum-ii/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/path-sum-ii/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph8" class="styled-checkbox"></td>
                        <td><label for="graph8">All Paths From Source to Target</label></td>
                        <td>50 times</td>
                        <td><a href="https://leetcode.com/problems/all-paths-from-source-to-target/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/all-paths-from-source-to-target/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph9" class="styled-checkbox"></td>
                        <td><label for="graph9">Number of Connected Components in an Undirected Graph</label></td>
                        <td>30 times</td>
                        <td><a href="https://leetcode.com/problems/number-of-connected-components-in-an-undirected-graph/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/number-of-connected-components-in-an-undirected-graph/solution/" target="_blank">View Solution</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="graph10" class="styled-checkbox"></td>
                        <td><label for="graph10">Longest Increasing Path in a Matrix</label></td>
                        <td>70 times</td>
                        <td><a href="https://leetcode.com/problems/longest-increasing-path-in-a-matrix/" target="_blank">Try on LeetCode</a></td>
                        <td><a href="https://leetcode.com/problems/longest-increasing-path-in-a-matrix/solution/" target="_blank">View Solution</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>    
    <%- include("footer") %>
</body>
</html>